<a href="https://colab.research.google.com/github/ThanikPimpiban/DWDM21/blob/main/Project_31_8_64.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd #ส่วนของการ Import
import os

In [20]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [21]:
path = '/content/drive/My Drive/DWDM_Project' #กำหนด path ของโฟลเดอร์ที่ Data อยู่

In [22]:
data_st = pd.read_csv(os.path.join(path,'data_station.csv')) #กำหนดตัวแปร data_st เป็นข้อมูลของสถานีรถไฟแต่ละสถานี
data_st #เรียกดูตารางของสถานีรถไฟแต่ละสถานี

      id  station_code           name  ... giveway dual_track          comment
0      1          1001        กรุงเทพ  ...       1          1              NaN
1      2          1002          ยมราช  ...       1          1              NaN
2      3          1004         สามเสน  ...       1          1              NaN
3      4          1006     ประดิพัทธ์  ...       1          1          ป.สระอิ
4      5          1007  ชุมทางบางซื่อ  ...       1          1              NaN
..   ...           ...            ...  ...     ...        ...              ...
677  678          5025       บางโทรัด  ...       0          0  ศก.สน. กม.13.82
678  679          5026      บ้านกาหลง  ...       0          0  ศก.สน. กม.15.78
679  680          5027     บ้านนาขวาง  ...       0          0  ศก.สน. กม.17.94
680  681          5028      บ้านนาโคก  ...       0          0  ศก.สน. กม.19.97
681  682          5029       เขตเมือง  ...       0          0  ศก.สน. กม.23.73

[682 rows x 18 columns]

In [23]:
data_t = pd.read_csv(os.path.join(path,'data_train.csv')) #กำหนดตัวแปร data_t เป็นข้อมูลของรถไฟ
data_t #เรียกดูตาราง

     Zone  goback   Num  ...            NameStEng            NameStEng_L  Service
0       1       1   0.0  ...              Bangkok       Ban Plu Ta Luang    False
1       1       1   1.0  ...              Bangkok      Bang Sue Junction     True
2       1       1   1.0  ...             Makkasan              Hua Takhe    False
3       1       1   2.0  ...              Bangkok      Bang Sue Junction     True
4       1       1   4.0  ...              Bangkok       Ban Plu Ta Luang    False
..    ...     ...   ...  ...                  ...                    ...      ...
229     5       2  26.0  ...              Nam Tok              Thon Buri    False
230     5       2  27.0  ...  Prachuap Khiri Khan              Thon Buri    False
231     5       2  28.0  ...            Lang Suan              Thon Buri    False
232     5       2  29.0  ...              Nam Tok              Thon Buri    False
233     5       2  30.0  ...              Nam Tok  Nong Pla Duk Junction    False

[234 rows x 12 columns]

In [24]:
data_rst = pd.read_csv(os.path.join(path,'railstation.csv')) #กำหนดตัวแปร data_rst ให้เป็นรางรถไฟ
data_rst #เรียกดูตารางของรางรถไฟ

     OBJECTID          NAMET  ...          Y  Neareat_AH
0           1        กรุงเทพ  ...   8.213274
1           2          ยมราช  ...   7.785456
2           3         สามเสน  ...  14.088246
3           4     ประดิพัทธ์  ...  14.530267
4           5  ชุมทางบางซื่อ  ...  17.980781        AH13
..        ...            ...  ...        ...         ...
677       678       บางโทรัด  ...  13.799641
678       679      บ้านกาหลง  ...  13.980168
679       680     บ้านนาขวาง  ...  17.878784
680       681      บ้านนาโคก  ...  13.941516
681       682       เขตเมือง  ...  13.744026         AH2

[682 rows x 9 columns]

In [25]:
merged_data_rst_data_st = data_rst.merge(data_st,how='left',left_on='NAMET',right_on='name') #ทำการเชื่อมตาราง 2 ตาราง คือ 1.ข้อมูลของรางรถไฟ 2.ข้อมูลของสถานีรถไฟแต่ละสถานี
merged_data_rst_data_st #เรียกตารางที่เชื่อมกัน 2 ตารางข้างต้น

     OBJECTID          NAMET  ... dual_track          comment
0           1        กรุงเทพ  ...          1              NaN
1           2          ยมราช  ...          1              NaN
2           3         สามเสน  ...          1              NaN
3           4     ประดิพัทธ์  ...          1          ป.สระอิ
4           5  ชุมทางบางซื่อ  ...          1              NaN
..        ...            ...  ...        ...              ...
677       678       บางโทรัด  ...          0  ศก.สน. กม.13.82
678       679      บ้านกาหลง  ...          0  ศก.สน. กม.15.78
679       680     บ้านนาขวาง  ...          0  ศก.สน. กม.17.94
680       681      บ้านนาโคก  ...          0  ศก.สน. กม.19.97
681       682       เขตเมือง  ...          0  ศก.สน. กม.23.73

[682 rows x 27 columns]

In [26]:
merged_3_tables =merged_data_rst_data_st.merge(data_t,how='right',left_on='station_code',right_on='StStart') #ทำเชื่อมตารางระหว่าง 1.ตารางของรางรถไฟและตารางสถานีรถไฟแต่ละสถานี 2.ตารางรถไฟ
merged_3_tables #เรียกดูตารางที่เชื่อมกันทั้ง 3 ตาราง

     OBJECTID            NAMET  ...            NameStEng_L  Service
0         1.0          กรุงเทพ  ...       Ban Plu Ta Luang    False
1         1.0          กรุงเทพ  ...      Bang Sue Junction     True
2         1.0          กรุงเทพ  ...      Bang Sue Junction     True
3         1.0          กรุงเทพ  ...       Ban Plu Ta Luang    False
4         1.0          กรุงเทพ  ...  Chachoengsao Junction    False
..        ...              ...  ...                    ...      ...
229     442.0          ราชบุรี  ...              Thon Buri    False
230     434.0            น้ำตก  ...              Thon Buri    False
231     434.0            น้ำตก  ...              Thon Buri    False
232     434.0            น้ำตก  ...  Nong Pla Duk Junction    False
233     474.0  ประจวบคีรีขันธ์  ...              Thon Buri    False

[234 rows x 39 columns]

In [27]:
merged_3_tables.isnull().any() #เช็คดู missing ของตารางที่เชื่อมกันทั้ง 3 ตาราง

OBJECTID            True
NAMET               True
NAMEE               True
ProvName            True
AmpName             True
TamName             True
X                   True
Y                   True
Neareat_AH          True
id                  True
station_code        True
name                True
en_name             True
th_short            True
en_short            True
chname              True
controldivision     True
exact_km            True
exact_distance      True
km                  True
class               True
lat                 True
long                True
active              True
giveway             True
dual_track          True
comment             True
Zone               False
goback             False
Num                False
IdTrain            False
NameFee            False
StStart            False
NameSt             False
StFinal            False
NameSt_L           False
NameStEng          False
NameStEng_L        False
Service            False
dtype: bool

**กำจัดค่า Missing**

In [28]:
# หา mode
merged_3_tables_Nomissing =merged_3_tables[['NAMET']].mode()
# เติม mode ลงไปแทนค่า missing
merged_3_tables[['NAMET']] = merged_3_tables[['NAMET']].fillna('NAMET')

In [29]:
merged_3_tables.isnull().any() #เช็ดดู missing ของตารางที่เชื่อมกันทั้ง 3 ตาราง อีกรอบ

OBJECTID            True
NAMET              False
NAMEE               True
ProvName            True
AmpName             True
TamName             True
X                   True
Y                   True
Neareat_AH          True
id                  True
station_code        True
name                True
en_name             True
th_short            True
en_short            True
chname              True
controldivision     True
exact_km            True
exact_distance      True
km                  True
class               True
lat                 True
long                True
active              True
giveway             True
dual_track          True
comment             True
Zone               False
goback             False
Num                False
IdTrain            False
NameFee            False
StStart            False
NameSt             False
StFinal            False
NameSt_L           False
NameStEng          False
NameStEng_L        False
Service            False
dtype: bool

In [30]:
merged_3_tables #เรียกดูตารางเชื่อมกันทั้ง 3 ตาราง ที่ถูกกำจัด missing แล้ว

     OBJECTID            NAMET  ...            NameStEng_L  Service
0         1.0          กรุงเทพ  ...       Ban Plu Ta Luang    False
1         1.0          กรุงเทพ  ...      Bang Sue Junction     True
2         1.0          กรุงเทพ  ...      Bang Sue Junction     True
3         1.0          กรุงเทพ  ...       Ban Plu Ta Luang    False
4         1.0          กรุงเทพ  ...  Chachoengsao Junction    False
..        ...              ...  ...                    ...      ...
229     442.0          ราชบุรี  ...              Thon Buri    False
230     434.0            น้ำตก  ...              Thon Buri    False
231     434.0            น้ำตก  ...              Thon Buri    False
232     434.0            น้ำตก  ...  Nong Pla Duk Junction    False
233     474.0  ประจวบคีรีขันธ์  ...              Thon Buri    False

[234 rows x 39 columns]

## ลองวิเคราะห์

In [31]:
Ex_0 = merged_3_tables[merged_3_tables['class']==1]        ##ดูชื่อสถานีที่มีขั้นบริการ(Class) เป็น 1
Ex_0[['name','class']]

                 name  class
76           มักกะสัน    1.0
81   ชุมทางฉะเชิงเทรา    1.0
82   ชุมทางฉะเชิงเทรา    1.0
83   ชุมทางฉะเชิงเทรา    1.0
84   ชุมทางฉะเชิงเทรา    1.0
..                ...    ...
222        สุไหงโก-ลก    1.0
224            หัวหิน    1.0
228            นครปฐม    1.0
229           ราชบุรี    1.0
233   ประจวบคีรีขันธ์    1.0

[127 rows x 2 columns]

In [32]:
Ex_1 = merged_3_tables.sort_values(by=['NAMET'],ascending=True)  ##ดูรหัสสถานี ชื่อสถานีและหมายเหตุโดยเรียงจากน้อยไปมาก
Ex_1[['station_code','NAMET','comment']]

     station_code        NAMET comment
93            NaN        NAMET     NaN
92            NaN        NAMET     NaN
91         3075.0  กบินทร์บุรี     NaN
90         3075.0  กบินทร์บุรี     NaN
89         3075.0  กบินทร์บุรี     NaN
..            ...          ...     ...
160        1222.0    เชียงใหม่     NaN
163        1222.0    เชียงใหม่     NaN
162        1222.0    เชียงใหม่     NaN
167        1164.0      เด่นชัย     NaN
166        1164.0      เด่นชัย     NaN

[234 rows x 3 columns]

In [33]:
data_location = pd.read_csv(os.path.join(path,'Location_Postal_Code.csv'))
data_location

      Location Code        จังหวัด  ... รหัสไปรษณีย์ หมายเหตุ
0            100101  กรุงเทพมหานคร  ...        10200      NaN
1            100102  กรุงเทพมหานคร  ...        10200      NaN
2            100103  กรุงเทพมหานคร  ...        10200      NaN
3            100104  กรุงเทพมหานคร  ...        10200      NaN
4            100105  กรุงเทพมหานคร  ...        10200      NaN
...             ...            ...  ...          ...      ...
7421         961203       นราธิวาส  ...        96220      NaN
7422         961204       นราธิวาส  ...        96220      NaN
7423         961301       นราธิวาส  ...        96130      NaN
7424         961302       นราธิวาส  ...        96130      NaN
7425         961303       นราธิวาส  ...        96130      NaN

[7426 rows x 6 columns]

Merged ใหม่

In [34]:
data_st

      id  station_code           name  ... giveway dual_track          comment
0      1          1001        กรุงเทพ  ...       1          1              NaN
1      2          1002          ยมราช  ...       1          1              NaN
2      3          1004         สามเสน  ...       1          1              NaN
3      4          1006     ประดิพัทธ์  ...       1          1          ป.สระอิ
4      5          1007  ชุมทางบางซื่อ  ...       1          1              NaN
..   ...           ...            ...  ...     ...        ...              ...
677  678          5025       บางโทรัด  ...       0          0  ศก.สน. กม.13.82
678  679          5026      บ้านกาหลง  ...       0          0  ศก.สน. กม.15.78
679  680          5027     บ้านนาขวาง  ...       0          0  ศก.สน. กม.17.94
680  681          5028      บ้านนาโคก  ...       0          0  ศก.สน. กม.19.97
681  682          5029       เขตเมือง  ...       0          0  ศก.สน. กม.23.73

[682 rows x 18 columns]

In [35]:
data_t

     Zone  goback   Num  ...            NameStEng            NameStEng_L  Service
0       1       1   0.0  ...              Bangkok       Ban Plu Ta Luang    False
1       1       1   1.0  ...              Bangkok      Bang Sue Junction     True
2       1       1   1.0  ...             Makkasan              Hua Takhe    False
3       1       1   2.0  ...              Bangkok      Bang Sue Junction     True
4       1       1   4.0  ...              Bangkok       Ban Plu Ta Luang    False
..    ...     ...   ...  ...                  ...                    ...      ...
229     5       2  26.0  ...              Nam Tok              Thon Buri    False
230     5       2  27.0  ...  Prachuap Khiri Khan              Thon Buri    False
231     5       2  28.0  ...            Lang Suan              Thon Buri    False
232     5       2  29.0  ...              Nam Tok              Thon Buri    False
233     5       2  30.0  ...              Nam Tok  Nong Pla Duk Junction    False

[234 rows x 12 columns]

In [38]:
merged_2_tables_new = data_st.merge(data_t,how='left',left_on='station_code',right_on='StStart')

In [64]:
data_location

      Location Code        จังหวัด  ... รหัสไปรษณีย์ หมายเหตุ
0            100101  กรุงเทพมหานคร  ...        10200      NaN
1            100102  กรุงเทพมหานคร  ...        10200      NaN
2            100103  กรุงเทพมหานคร  ...        10200      NaN
3            100104  กรุงเทพมหานคร  ...        10200      NaN
4            100105  กรุงเทพมหานคร  ...        10200      NaN
...             ...            ...  ...          ...      ...
7421         961203       นราธิวาส  ...        96220      NaN
7422         961204       นราธิวาส  ...        96220      NaN
7423         961301       นราธิวาส  ...        96130      NaN
7424         961302       นราธิวาส  ...        96130      NaN
7425         961303       นราธิวาส  ...        96130      NaN

[7426 rows x 6 columns]

In [69]:
merged_4_tables_new = merged_3_tables.merge(data_location,how='left',left_on='NAMET',right_on='แขวง/ตำบล')

In [70]:
merged_4_tables_new

     OBJECTID            NAMET  ... รหัสไปรษณีย์  หมายเหตุ
0         1.0          กรุงเทพ  ...          NaN       NaN
1         1.0          กรุงเทพ  ...          NaN       NaN
2         1.0          กรุงเทพ  ...          NaN       NaN
3         1.0          กรุงเทพ  ...          NaN       NaN
4         1.0          กรุงเทพ  ...          NaN       NaN
..        ...              ...  ...          ...       ...
233     434.0            น้ำตก  ...      55150.0       NaN
234     434.0            น้ำตก  ...      80110.0       NaN
235     434.0            น้ำตก  ...      55150.0       NaN
236     434.0            น้ำตก  ...      80110.0       NaN
237     474.0  ประจวบคีรีขันธ์  ...      77000.0       NaN

[238 rows x 45 columns]

In [71]:
merged_4_tables = merged_4_tables_new.merge(data_location,how='left',left_on='NAMET',right_on='จังหวัด')

In [72]:
merged_4_tables

       OBJECTID            NAMET  ... รหัสไปรษณีย์_y  หมายเหตุ_y
0           1.0          กรุงเทพ  ...            NaN         NaN
1           1.0          กรุงเทพ  ...            NaN         NaN
2           1.0          กรุงเทพ  ...            NaN         NaN
3           1.0          กรุงเทพ  ...            NaN         NaN
4           1.0          กรุงเทพ  ...            NaN         NaN
...         ...              ...  ...            ...         ...
11640     474.0  ประจวบคีรีขันธ์  ...        77120.0         NaN
11641     474.0  ประจวบคีรีขันธ์  ...        77180.0         NaN
11642     474.0  ประจวบคีรีขันธ์  ...        77180.0         NaN
11643     474.0  ประจวบคีรีขันธ์  ...        77180.0         NaN
11644     474.0  ประจวบคีรีขันธ์  ...        77180.0         NaN

[11645 rows x 51 columns]

In [68]:
merged_4_tables_new.isnull().any()

OBJECTID            True
NAMET              False
NAMEE               True
ProvName            True
AmpName             True
TamName             True
X                   True
Y                   True
Neareat_AH          True
id                  True
station_code        True
name                True
en_name             True
th_short            True
en_short            True
chname              True
controldivision     True
exact_km            True
exact_distance      True
km                  True
class               True
lat                 True
long                True
active              True
giveway             True
dual_track          True
comment             True
Zone               False
goback             False
Num                False
IdTrain            False
NameFee            False
StStart            False
NameSt             False
StFinal            False
NameSt_L           False
NameStEng          False
NameStEng_L        False
Service            False
Location Code       True
จังหวัด             True
เขต/อำเภอ           True
แขวง/ตำบล           True
รหัสไปรษณีย์        True
หมายเหตุ            True
dtype: bool