<a href="https://colab.research.google.com/github/ThanikPimpiban/DWDM21/blob/main/Project2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
import pandas as pd #ส่วนของการ Import
import os

In [65]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [66]:
path = '/content/drive/My Drive/DWDM_Project' #กำหนด path ของโฟลเดอร์ที่ Data อยู่

##ที่มาของข้อมูลการจำหน่ายพลังงานไฟฟ้า กฟผ.

In [67]:
data_sell = pd.read_csv(os.path.join(path,'การจำหน่ายพลังงานไฟฟ้า กฟผ..csv')) #กำหนดตัวแปร data_sell เป็นข้อมูลการจำหน่ายพลังงานไฟฟ้า กฟผ.
data_sell #เรียกดูตารางการจำหน่ายพลังงานไฟฟ้า กฟผ.

     ปี  การไฟฟ้านครหลวง  ...  อื่น ๆ  รวมทั้งสิ้น
0  2559         56585.63  ...  171.21    185046.51
1  2560         52646.13  ...  203.80    185130.89
2  2561         53301.86  ...  189.84    187388.54
3  2562         55002.17  ...   90.26    193439.15
4  2563         52343.73  ...   80.38    187489.39

[5 rows x 9 columns]

##ที่มาของข้อมูลกำลังผลิตในระบบไฟฟ้าแยกตามประเภทโรงไฟฟ้า

In [68]:
data_production = pd.read_csv(os.path.join(path,'กำลังผลิตในระบบไฟฟ้าแยกตามประเภทโรงไฟฟ้า.csv')) #กำหนดตัวแปร data_production เป็นข้อมูลกำลังผลิตในระบบไฟฟ้าแยกตามประเภทโรงไฟฟ้า
data_production #เรียกดูตารางกำลังผลิตในระบบไฟฟ้าแยกตามประเภทโรงไฟฟ้า

     ปี  พลังความร้อน  พลังน้ำ  ... พลังงานทดแทน      ซื้อ  รวมทั้งสิ้น
0  2559        3647.0   3452.4  ...        45.33  24711.12     41096.25
1  2560        3647.0   3452.4  ...        45.33  26362.12     42433.25
2  2561        3647.0   3472.4  ...        57.78  27582.92     43372.50
3  2562        3687.0   3972.4  ...        83.03  30167.42     45298.25
4  2563        3687.0   3972.4  ...        85.52  29443.05     46480.37

[5 rows x 9 columns]

##ที่มาของข้อมูลความยาวสายส่งไฟฟ้า กฟผ.

In [69]:
data_length = pd.read_csv(os.path.join(path,'ความยาวสายส่งไฟฟ้า กฟผ..csv')) #กำหนดตัวแปร data_length ให้เป็นความยาวสายส่งไฟฟ้า กฟผ.
data_length #เรียกดูตารางความยาวสายส่งไฟฟ้า กฟผ.

     ปี  69 kv    115 kv  132 kv    230 kv  300 kv   500 kv  รวมทั้งสิ้น
0  2559   18.8  13497.32    8.71  14793.65   23.07  5025.34     33366.88
1  2560   18.8  13088.64    8.71  14423.13   23.07  5830.84     33393.19
2  2561   18.8  13263.16    8.71  14712.73   23.07  6527.39     34553.86
3  2562   18.8  13997.98    8.71  15357.71   23.07  6575.18     35981.45
4  2563   18.8  14423.19    8.71  15697.87   23.07  6912.29     37083.92

##ทำการเชื่อม 2 ตารางด้วยการ merge โดยเชื่อมกันด้วย ปี

In [70]:
merged_data_sell_data_production = pd.merge(data_sell,data_production,on='ปี') #ทำการเชื่อมตาราง 2 ตาราง คือ 1.ข้อมูลการจำหน่ายพลังงานไฟฟ้า 2.ข้อมูลของกำลังผลิตในระบบไฟฟ้า
merged_data_sell_data_production #เรียกตารางที่เชื่อมกัน 2 ตารางข้างต้นv

     ปี  การไฟฟ้านครหลวง  ...      ซื้อ  รวมทั้งสิ้น_y
0  2559         56585.63  ...  24711.12       41096.25
1  2560         52646.13  ...  26362.12       42433.25
2  2561         53301.86  ...  27582.92       43372.50
3  2562         55002.17  ...  30167.42       45298.25
4  2563         52343.73  ...  29443.05       46480.37

[5 rows x 17 columns]

##ทำการเชื่อมตารางทั้งหมดเข้าด้วยกัน

In [71]:
merged_3_tables = pd.merge(merged_data_sell_data_production,data_length,on='ปี') #ทำเชื่อมตารางระหว่าง 1.ตารางการจำหน่ายพลังงานไฟฟ้าและกำลังผลิตในระบบไฟฟ้า 2.ตารางความยาวสายส่งไฟฟ้า
merged_3_tables #เรียกดูตารางที่เชื่อมกันทั้ง 3 ตาราง

     ปี  การไฟฟ้านครหลวง  การไฟฟ้าส่วนภูมิภาค  ...  300 kv   500 kv  รวมทั้งสิ้น
0  2559         56585.63            125798.07  ...   23.07  5025.34     33366.88
1  2560         52646.13            130237.60  ...   23.07  5830.84     33393.19
2  2561         53301.86            131969.53  ...   23.07  6527.39     34553.86
3  2562         55002.17            134605.47  ...   23.07  6575.18     35981.45
4  2563         52343.73            131558.55  ...   23.07  6912.29     37083.92

[5 rows x 24 columns]

In [72]:
merged_3_tables.isnull().any() #เช็คดู missing ของตารางที่เชื่อมกันทั้ง 3 ตาราง

ปี                     False
การไฟฟ้านครหลวง        False
การไฟฟ้าส่วนภูมิภาค    False
การไฟฟ้าลาว            False
การไฟฟ้ามาเลเซีย       False
การไฟฟ้ากัมพูชา        False
ลูกค้าโดยตรง           False
อื่น ๆ                 False
รวมทั้งสิ้น_x          False
พลังความร้อน           False
พลังน้ำ                False
กังหันแก๊ส             False
พลังความร้อนร่วม       False
ดีเซล                  False
พลังงานทดแทน           False
ซื้อ                   False
รวมทั้งสิ้น_y          False
69 kv                  False
115 kv                 False
132 kv                 False
230 kv                 False
300 kv                 False
500 kv                 False
รวมทั้งสิ้น            False
dtype: bool

In [73]:
merged_3_tables.shape #ข้อมูลมี 5 row 24 column

(5, 24)

##ตารางที่ใช้ในการดู challenge

In [74]:
data = merged_3_tables[['ปี','รวมทั้งสิ้น_x','รวมทั้งสิ้น_y','รวมทั้งสิ้น']]
data

     ปี  รวมทั้งสิ้น_x  รวมทั้งสิ้น_y  รวมทั้งสิ้น
0  2559      185046.51       41096.25     33366.88
1  2560      185130.89       42433.25     33393.19
2  2561      187388.54       43372.50     34553.86
3  2562      193439.15       45298.25     35981.45
4  2563      187489.39       46480.37     37083.92

In [75]:
data.shape #ข้อมูลนี้มี 5 row 4 column

(5, 4)

In [76]:
data.isnull().any() #ตรวจสอบว่าตารางมีค่าว่างหรือไม่ จะเห็นว่าไม่คอลัมน์ที่มีค่าว่าง

ปี               False
รวมทั้งสิ้น_x    False
รวมทั้งสิ้น_y    False
รวมทั้งสิ้น      False
dtype: bool

In [88]:
X=merged_3_tables[['พลังความร้อน','พลังน้ำ','พลังความร้อนร่วม','ดีเซล','ลูกค้าโดยตรง','อื่น ๆ']]

In [86]:
Y=merged_3_tables[['การไฟฟ้านครหลวง','การไฟฟ้าส่วนภูมิภาค','การไฟฟ้าลาว','การไฟฟ้ามาเลเซีย','การไฟฟ้ากัมพูชา','ลูกค้าโดยตรง','อื่น ๆ']]

##DecisionTreeClassifier

In [79]:
from sklearn.tree import DecisionTreeClassifier

In [80]:
mytree = DecisionTreeClassifier() # กำหนดชั้นของ decision tree

In [90]:
T = mytree.fit(X,Y) # สร้าง model ขึ้นมา

ValueError: ignored

In [ ]:
from sklearn.tree import plot_tree

In [ ]:
plot_tree(mytree);