<a href="https://colab.research.google.com/github/ThanikPimpiban/DWDM21/blob/main/Table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [12]:
records = [['Jack',1,1,0,1,0,0,0],
                ['Mary',0,1,0,1,0,1,0],
                ['Jim',1,1,1,0,0,0,0]]
labels = ['Name','Gender','Fever','Cough','Test-1','Test-2','Test-3','Test-4',]

binary_table = pd.DataFrame.from_records(records ,columns=labels)
binary_table

   Name  Gender  Fever  Cough  Test-1  Test-2  Test-3  Test-4
0  Jack       1      1      0       1       0       0       0
1  Mary       0      1      0       1       0       1       0
2   Jim       1      1      1       0       0       0       0

In [17]:
def dist_binary_synmetric(p1,p2):
        q = 0 
        r = 0
        s = 0 
        t =  0
        for i in range(len(p1)):
           
            if (p1[i]==1) and (p2[i]==1):
                q=q+1
           
            if (p1[i]==0) and (p2[i]==1):
                r=r+1
            
            if (p1[i]==1) and (p2[i]==0):
                s=s+1
            
            if (p1[i]==0) and (p2[i]==0):
                t=t+1
        return (r+s)/(q+r+s+t)

In [18]:
dist_binary_synmetric(binary_table.iloc[0,1:],binary_table.iloc[1,1:])

0.2857142857142857